<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--primary">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">
				SIESDIB
			</span>
			<div class="android-header-spacer mdl-layout-spacer"></div>
			<div class="android-navigation-container">
	            <nav class="app-navigation mdl-navigation">
	              <a class="mdl-navigation__link active" href="#/">Subir archivo</a>
	              <a class="mdl-navigation__link" href="#/search">Buscar información</a>
	            </nav>
         	</div>
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="actions">
            	<i class="material-icons">more_vert</i>
          	</button>
          	<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="actions">
				<li class="mdl-menu__item" ng-click="vm.logout()">Cerrar sesión</li>
			</ul>
		</div>
	</header>
	<main class="mdl-layout__content">
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__title">
			    	<h2 class="mdl-color-text--teal-300 mdl-typography--display-1">Subir archivo</h2>
			  	</div>
			  	<form name="form" ng-submit="vm.uploadFile()" role="form">
			  		<div class="mdl-card__supporting-text">
			    	
			  			<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
			 				<input class="mdl-textfield__input" type="text" id="dataTitle" 
			 				ng-model="vm.title" ng-disabled="vm.dataLoading" required />
			    			<label class="mdl-textfield__label" for="dataTitle">
			    				Título
			   				</label>
			  			</div>
			  			<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
			 				<textarea class="mdl-textfield__input" type="text" rows="4" id="dataDescription"
			 				ng-model="vm.description" ng-disabled="vm.dataLoading" required></textarea>
			    			<label class="mdl-textfield__label" for="dataDescription">
			    				Descripción
			   				</label>
			  			</div>
			    		<div ngf-drop ngf-select ng-model="vm.file" class="drop-box mdl-cell mdl-cell--12-col" 
			        		ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
			        		accept=".zip" 
			        		ngf-pattern="'.zip'">Arrastra un archivo zip o da clic para subirlo.
			        	</div>
			    		<div ngf-no-file-drop>El modo de arrastrar documentos no está soportado por tu navegador.</div>
			    		<div class="mdl-cell mdl-cell--12-col">
			    		<div ng-show="vm.file" class="mdl-typography--table-striped">
			    			<span class="icon material-icons">attach_file</span>{{vm.file.name}}
			    		</div>
			       		
			    		</div>
			  		</div>
			  		<div class="mdl-card__actions mdl-card--border">
			    		<button type="submit" ng-disabled="form.$invalid || !vm.file || vm.dataLoading"
			    		class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      			Subir
			    		</button>
			    		<div ng-show="vm.dataLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
			  		</div>
			  	</form>
			</div>
		</section>
	</main>
</div>