<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
		<div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>SIESDIB</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
	</header>
	<main class="mdl-layout__content">
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		
			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__title">
			    	<h2 class="mdl-color-text--teal-300 mdl-typography--display-1">Iniciar sesión</h2>
			  	</div>
			  	<form name="form" ng-submit="vm.login()" role="form">
			  		<div class="mdl-card__supporting-text">
			    	
			  			<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
			 				<input class="mdl-textfield__input" type="text" id="username" 
			 				ng-model="vm.username" ng-disabled="vm.dataLoading" required />
			    			<label class="mdl-textfield__label" for="username">
			    				Nombre de usuario
			   				</label>
			  			</div>
			  			<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
			 				<input class="mdl-textfield__input" type="password" id="password"
			 				ng-model="vm.password" ng-disabled="vm.dataLoading" required />
			    			<label class="mdl-textfield__label" for="password">
			    				Contraseña
			   				</label>
			  			</div>
					
			  		</div>
			  		<div class="mdl-card__actions mdl-card--border">
			    		<button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
			    		class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      			Entrar
			    		</button>
			    		<div ng-show="vm.dataLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
			  		</div>
			  	</form>
			</div>
		</section>
	</main>
</div>