<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--primary">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">
				SIESDIB
			</span>
			<div class="android-header-spacer mdl-layout-spacer"></div>
			<div class="android-navigation-container">
	            <nav class="app-navigation mdl-navigation">
	              <a class="mdl-navigation__link" href="#/">Subir archivo</a>
	              <a class="mdl-navigation__link active" href="#/search">Buscar información</a>
	            </nav>
         	</div>
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="actions">
            	<i class="material-icons">more_vert</i>
          	</button>
		</div>
	</header>
	<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="actions">
		<li class="mdl-menu__item" ng-click="vm.logout()">Cerrar sesión</li>
	</ul>
	<main class="mdl-layout__content">
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__title">
			    	<h2 class="mdl-color-text--teal-300 mdl-typography--display-1">Buscar información</h2>
			  	</div>
			  	<div class="mdl-card__supporting-text">
			  		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-cell mdl-cell--12-col">
    					<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
      						<i class="material-icons">search</i>
    					</label>
    					<div class="mdl-textfield__expandable-holder search-input mdl-cell mdl-cell--12-col">
      						<input class="mdl-textfield__input" type="text" ng-model="vm.searchFilter" id="search" />
      						<label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    					</div>
  					</div>
  					<div class="mdl-spinner mdl-js-spinner is-active" ng-show="!vm.informationReady"></div>
  					<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col" ng-show="vm.informationReady">
  						<thead>
  							<tr>
  								<th class="mdl-data-table__cell--non-numeric">
  									<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.sortType = 'user'; vm.sortReverse = !vm.sortReverse">
	  									Usuario
	  									<span ng-show="vm.sortType=='user' && vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_up</i>
	  									</span>
	  									<span ng-show="vm.sortType=='user' && !vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_down</i>
	  									</span>
	  								</button>
  								</th>
  								<th class="mdl-data-table__cell--non-numeric">
  									<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.sortType = 'title'; vm.sortReverse = !vm.sortReverse">
	  									Título
	  									<span ng-show="vm.sortType=='title' && vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_up</i>
	  									</span>
	  									<span ng-show="vm.sortType=='title' && !vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_down</i>
	  									</span>
	  								</button>
  								</th>
  								<th class="mdl-data-table__cell--non-numeric">
  									<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.sortType = 'description'; vm.sortReverse = !vm.sortReverse">
	  									Descripción
	  									<span ng-show="vm.sortType=='description' && vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_up</i>
	  									</span>
	  									<span ng-show="vm.sortType=='description' && !vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_down</i>
	  									</span>
	  								</button>
  								</th>
  								<th class="mdl-data-table__cell--non-numeric">
  									<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.sortType = 'date'; vm.sortReverse = !vm.sortReverse">
	  									Fecha
	  									<span ng-show="vm.sortType=='date' && vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_up</i>
	  									</span>
	  									<span ng-show="vm.sortType=='date' && !vm.sortReverse">
	  										<i class="material-icons">keyboard_arrow_down</i>
	  									</span>
	  								</button>
  								</th>
  								<th class="mdl-data-table__cell--non-numeric">
  									&nbsp;
  								</th>
  							</tr>
  						</thead>
  						<tbody>
  							<tr ng-repeat="info in vm.information | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchFilter">
  								<td class="mdl-data-table__cell--non-numeric">{{info.user}}</td>
  								<td class="mdl-data-table__cell--non-numeric space-wrap">{{info.title}}</td>
  								<td class="mdl-data-table__cell--non-numeric space-wrap">{{info.description}}</td>
  								<td class="mdl-data-table__cell--non-numeric">{{info.date}}</td>
  								<td class="mdl-data-table__cell--non-numeric">
  									<button ng-click="vm.downloadFile(info.path)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
  										<i class="material-icons">file_download</i>
  									</button>
  								</td>
  							</tr>
  						</tbody>
  					</table>
			  	</div>
			</div>
		</section>
	</main>
</div>