main section{
	max-width:750px;
}

main{
	padding-top: 48px;
}

section {
  position: relative;
  margin-bottom: 48px;
}

section > button {
    position: absolute !important;
    z-index: 99;
    top: 8px;
    right: 8px;
}

.drop-box{
	border: 2px dashed #DDD;
	min-height: 100px;
	padding: 45px;
}

.app-navigation {
    direction: ltr;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}

.mdl-navigation__link:hover, a.active {
   	border-bottom: 4px solid #ffffff;
}

.mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }
 
.search-input{
	margin-left:40px;
}

.space-wrap{
	white-space: normal;
}